/* Thiết lập kiểu cho header */
header {
  background-color: #ff5722;
  color: #fff;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}
/* Thiết lập cho body và html để đảm bảo nội dung trang cần phải lấp đầy màn hình */
html, body {
  height: 100%; /* Đặt chiều cao cho html và body là 100% */
  margin: 0; /* Loại bỏ margin mặc định */
  padding: 0; /* Loại bỏ padding mặc định */
}

/* Thiết lập cho main để nó lấp đầy phần còn lại của màn hình */
main {
  min-height: calc(100% - 100px); /* Chiều cao tối thiểu của main, trừ đi chiều cao của footer */
}

.logo img {
  width: 100px;
  height: auto;
  margin-left: 20px;
  cursor: pointer;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

/* Thiết lập kiểu cho nút tìm kiếm */
.search-box {
  display: flex;
  align-items: center;
}

.search-box input[type="text"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-box button {
  background-color: #ff5722;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

/* Thiết lập kiểu cho danh sách sản phẩm bằng CSS Grid */
.product-list {
  display: grid;
  gap: 20px;
  padding: 20px;
  width: 80%;
}

.product {
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product img {
  max-width: 100%;
  height: auto;
}

.product h2 {
  font-size: 1.2rem;
  margin: 10px 0;
}

.product p {
  font-size: 1rem;
  color: #888;
}

.product button {
  background-color: #ff5722;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.product button:hover {
  background-color: #e64a19;
}

/* Thiết lập kiểu cho footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo img {
  width: 80px;
  height: auto;
  margin-left: 10vh;
}

.footer-info p {
  margin: 5px 50px;
}

body {
  margin: 0px;
}

main {
  display: flex;
  justify-content: space-between; /* Các phần tử con sẽ được căn cách đều ở giữa và bên trái và bên phải */
}

.banner-left {
  background-color: #f2f2f2; /* Màu nền của banner trái, thay đổi tùy thuộc vào thiết kế của bạn */
  padding: 20px; /* Khoảng cách nội dung với viền banner */
  position: sticky;
  top: 20%; /* Đặt giá trị top là 0 để banner trái nằm ở trên cùng khi cuộn */
  left: 0;
  z-index: 1000; /* Đảm bảo banner trái hiển thị trên header và các sản phẩm */
  height: 10%;
}

.banner-right {
  background-color: #f2f2f2; /* Màu nền của banner phải, thay đổi tùy thuộc vào thiết kế của bạn */
  padding: 20px; /* Khoảng cách nội dung với viền banner */
  position: sticky;
  top: 20%; /* Đặt giá trị top là 0 để banner phải nằm ở trên cùng khi cuộn */
  right: 0;
  z-index: 1000; /* Đảm bảo banner phải hiển thị trên header và các sản phẩm */
  height: 10%;
}

.error-message {
  color: red;
  display: none;
}

.loadmore {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15vh;
  margin-bottom: 10vh;
}

.loadmore a {
  text-decoration: none;
}

.loadmore a:hover {
  opacity: 0.5;
}

/* CSS cho phần chi tiết sản phẩm */
.product-details {
  display: flex;
  padding: 20px;
  border: 1px solid #ccc;
  width: 80%;
  margin: 0 auto;
}

.product-image img {
  max-width: 100%;
  height: auto;
}

.product-info {
  flex: 1;
  padding-left: 20px;
}

.product-info h1 {
  font-size: 24px;
  margin: 0;
}

.product-info p {
  font-size: 18px;
  margin: 10px 0;
  color: #888;
}

/* Đổi màu và kích thước chữ cho giá tiền */
.product-info .price {
  font-size: 1.875rem;
  font-weight: 500;
  color: #ee4d2d;
  font-family: "Helvetica Neue", Helvetica, Arial, 文泉驛正黑,
    "WenQuanYi Zen Hei", "Hiragino Sans GB", "儷黑 Pro", "LiHei Pro", "Heiti TC",
    微軟正黑體, "Microsoft JhengHei UI", "Microsoft JhengHei", sans-serif;
}

/* Mã giảm giá */
.discount-code {
  border: 1px solid #ff5722;
  background-color: #ff5722;
  color: #fff;
  border-radius: 5px;
  margin-top: 10px;
  padding: 5px 10px;
  display: inline-block;
}

.discount-title {
  margin: 0;
  font-weight: bold;
  display: inline-block;
}

.discount-value {
  margin: 0;
  border: 1px solid #ff5722;
  background-color: #ff5722;
  color: #fff !important;
  border-radius: 5px;
  margin-top: 10px;
  padding: 5px 10px;
  display: inline-block;
}

/* Vận chuyển */
.shipping {
  display: flex;
  margin-top: 10px;
}

.shipping-title {
  margin: 0;
  font-weight: bold;
  margin-right: 10px !important;
}

.shipping-value {
  margin: 0;
}

/* Số lượng */
.quantity {
  margin-top: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.quantity-title {
  margin: 0;
  font-weight: bold;
}

.quantity input {
  width: 40px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 10px;
}

.add-to-cart {
  background-color: #fff;
  color: #ff5722;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s;
  border: 1px solid #ff5722;
}

.buy-now {
  background-color: #ff5722;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s;
}

.add-to-cart:hover {
  background-color: #c8bfbf;
}

.buy-now:hover {
  background-color: #e64a19;
}

.shop-info {
  width: 83%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.shop-name {
  display: flex;
  align-items: center;
}

.shop-name img {
  max-width: 50px;
  max-height: 50px;
  margin-right: 10px;
}

.shop-name h2 {
  font-size: 24px;
  margin: 0;
}

.shop-buttons {
  margin-top: 10px;
}

.shop-buttons button {
  background-color: #ff5722;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 20px;
  margin-right: 10px;
}

.shop-buttons button:last-child {
  margin-right: 0;
}

.rating-info {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.rating-info p {
  font-size: 16px;
  margin: 5px 10px;
}

/* Sử dụng media query để giới hạn số cột tối đa là 3 */
@media (min-width: 768px) {
  .product-list {
    grid-template-columns: repeat(
      3,
      1fr
    ); /* Hiển thị tối đa 3 cột trên mỗi dòng */
  }
}

.cart-item {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  justify-content: space-between; /* Để các phần tử nằm cùng hàng và căn đều */
}

.cart-item-image {
  flex: 0 0 100px; /* Đảm bảo rằng hình ảnh có kích thước cố định */
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.cart-item-image img {
  max-width: 100%;
  height: auto;
}

.cart-item-info h2 {
  font-size: 18px;
  margin: 0;
}

.cart-item-info {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Để các phần tử nằm cùng hàng và căn đều */
}

.product-details {
  flex-grow: 1;
  margin-right: 10px;
}

.price {
  font-weight: bold;
  margin-left: auto; /* Đẩy giá tiền sang mép phải */
}

.quantity {
  display: flex;
  align-items: center;
}

.quantity-button {
  background-color: #ff5722;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.quantity-input {
  width: 40px;
  font-size: 16px;
  padding: 5px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.cart-summary {
  border-top: 1px solid #ddd;
  margin-top: 20px;
  padding-top: 10px;
  text-align: right;
}

.total-price {
  font-size: 24px;
  font-weight: bold;
}

.checkout {
  background-color: #ff5722;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

/* Style the checkout button */
.checkout {
  background-color: #ff5722;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  border-radius: 5px;
}

/* Style the total price */
.cart-summary {
  border-top: 1px solid #ddd;
  margin-top: 20px;
  padding-top: 10px;
  text-align: right;
  font-size: 18px;
  padding-right: 5%;
}

.total-price {
  font-weight: bold;
  color: #ff5722;
}

.cart-item-actions {
  margin-left: 10px; /* Khoảng cách giữa quantity và button xóa */
}

.cart-item-actions button {
  background-color: #ff5722;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.cart-item-actions button.remove-from-cart {
  background-color: #f44336;
}

.cart-item-actions button.remove-from-cart:hover {
  background-color: #d32f2f;
}

.checkbox {
  flex: 0 0 20px; /* Đảm bảo rằng ô checkbox có kích thước cố định */
  margin-right: 10px;
}

.product-checkbox {
  width: 16px;
  height: 16px;
}

.button-buy a{
  text-decoration: none;
}

@media (max-width: 768px) {
  .product-info h1 {
    font-size: 15px;
  }
  .product-info .price {
    font-size: 0.75rem;
  }
  .product-info p {
    font-size: 7px;
  }
  .button-buy {
    text-align: center;
  }

  /* Adjust button styles for smaller screens */
  .add-to-cart,
  .buy-now {
    padding: 8px 16px;
    font-size: 14px;
    margin-bottom: 10px;
  }
  .footer-info {
    font-size: 10px;
  }
  .nameProduct{
    font-size: 10px;
    margin-left: 30px;
    margin-right: 5px;
  }
  .price{
    font-size: 10px;
  }
  .quantity-button {
    display: none;
  }
}